img {
  height: auto;
  max-width: 100%;
  border: 0;
}#disp-container {
  max-width: 100%;
  min-width: 320px;
  padding-left: 15%;
  padding-right: 40px;
  padding-top: 80px;
}#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 15%;
}.header-inner {
  height: 100%;
}.header-inner-rotate {
  position: absolute;
  left: 50px;
  top: 0;
  display: -webkit-box;
  display: flex;
  min-width: 100vh;
  align-items: flex-end;
  transform: rotate(90deg);
  transform-origin: bottom left;

  -webkit-box-align: end;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
}.header-title {
  width: 17vw;
  max-width: 300px;
}.header-sub-title {
  margin-left: 7vw;

  -webkit-margin-after: 1em;
  -webkit-margin-before: 1em;
  margin-block-end: 1em;
  margin-block-start: 1em;
}#nav {
  position: fixed;
  right: -320px;
  top: 0;
  overflow-y: auto;
  z-index: 200;
  height: 100vh;
  width: 300px;
  padding-top: 50px;
  background-color: #d3d3d3;
  transition: all 0.3s;

  -webkit-transition: all 0.3s;
}.nav-inner {
  position: fixed;
  right: 20px;
  top: 10px;
  display: -webkit-box;
  display: flex;
}.nav-title {
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
}.nav-hamburger {
  cursor: pointer;
  right: 0;
  top: 0;
  z-index: 300;
  height: 60px;
  width: 60px;
  margin-left: 20px;
  line-height: 60px;
  text-align: center;
}.nav-hamburger-line {
  position: absolute;
  right: 20px;
  height: 1px;
  width: 30px;
  background-color: #111;
  transition: all 0.6s;

  -webkit-transition: all 0.6s;
}.hamburger-line-1 {
  top: 14px;
}.hamburger-line-2 {
  top: 24px;
}.hamburger-line-3 {
  top: 34px;
}.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}.nav-list-item {
  padding: 5px 14px;
  text-align: left;
}.nav-open #nav {
  right: 0;
}.nav-open .hamburger-line-1 {
  top: 20px;
  transform: rotate(45deg);

  -webkit-transform: rotate(45deg);
}.nav-open .hamburger-line-2 {
  left: 80%;
  width: 0;
}.nav-open .hamburger-line-3 {
  top: 20px;
  transform: rotate(-45deg);

  -webkit-transform: rotate(-45deg);
}.main-visual {
  width: 100%;
}.main-contents {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}.main-card {
  width: 45%;
  margin-right: 3%;
  margin-top: 5vw;
}.main-imageframe img {
  height: 60vh;
  width: 60vh;
  max-width: 100%;
  border: 0;

  -o-object-fit: cover;
  object-fit: cover;
}.main-card-content .title {
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 400;
}
