// start of header
header#header
  div.header-inner
    div.header-inner-rotate
      a.header-title(href="/")
        img(src="/img/midori_logo.svg",alt="midori")
      p.header-sub-title Protect the city you love

// end of header