include ./_config
- var page = pagelist['home'];

doctype html
html(lang="ja")
	head
		include ./common/_head
	body
		div#disp-container
			include ./common/_header
			include ./common/_nav
			include ./pages/_main_history
			include ./common/_footer
			
			include ./pages/_script