// main contents
div#main
  div.main-visual
    img(src="/img/top.jpg")
  div.main-visual-mobile
    img(src="/img/top_sm.jpg")

  div.main-contents
    article.main-card
      a(href="/target.html")
        div.main-imageframe
          img(src="/img/foryou.jpg")
      div.main-card-content
        h2.title 自分の街を愛する全ての人へ
        p.txt 物事がどんどん変わっていく時代の中で、「この街は変わらないでいて欲しい」という思いを持つ人たちがいる。居場所は変わっても、その街に対する思いが変わらない彼らのために、私たちはお客さまの思い出にある街を守りたい。
    article.main-card
      a(href="/philosophy.html")
        div.main-imageframe
          img(src="/img/philosophy.jpg")
      div.main-card-content
        h2.title 私たちの理念
        p.txt あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    article.main-card
      a(href="/business.html")
        div.main-imageframe
          img(src="/img/business.jpg")
      div.main-card-content
        h2.title 社会的価値の高い事業
        p.txt あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    article.main-card
      a(href="/history.html")
        div.main-imageframe
          img(src="/img/history.jpg")
      div.main-card-content
        h2.title 私たちの歩み
        p.txt あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ