// main contents
div#main
  div.child-main-visual
    img(src="/img/foryou.jpg")
  div.child-main-visual-mobile
    img(src="/img/top_sm.jpg")

  div.child-main-contents
    article.child-main-card
      div.child-main-card-content
        h2.title 私たちの理念
        p.txt あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    article.child-main-card
      a(href="/philosophy/")
        div.child-main-imageframe
          img(src="/img/philosophy.jpg")
      div.child-main-card-content
        h2.title 私たちの理念
        p.txt あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    article.child-main-card
      a(href="/business/")
        div.child-main-imageframe
          img(src="/img/business.jpg")
      div.child-main-card-content
        h2.title 社会的価値の高い事業
        p.txt あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
