div.nav-inner
  span.nav-title MENU
  div.nav-hamburger#nav-hamburger
    span.nav-hamburger-line.hamburger-line-1
    span.nav-hamburger-line.hamburger-line-2
    span.nav-hamburger-line.hamburger-line-3
  nav#nav
    ul.nav-list
      li.nav-list-item 
        a(href="/target.html") 自分の街を愛する全ての人へ
      li.nav-list-item 
        a(href="/philosophy.html") 私たちの理念
      li.nav-list-item 
        a(href="/business.html") 社会的価値の高い事業
      li.nav-list-item 
        a(href="/history.html") 私たちの歩み
